.card {
    width: 95%;
    margin: 20px auto auto auto;
  }
.process-card {
  width: 23%;
  margin: 15px 15px 15px 15px;
  display: inline-block;
  vertical-align: top;
}
.expandable-content {
  overflow: hidden;
}
.languajes {
  display: inline;
}
h1 {
  display: inline;
  margin-right: 30px;
}
.header {
  width: 95%;
  margin: 20px auto auto auto;
}