.card {
    width: 95%;
    margin: 20px auto auto auto;
  }
.processContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap:wrap;
}
.processCard {
  display: inline-block;
  min-width: 550px;
  margin: 20px auto auto auto;
}
.expandableContent {
  overflow: hidden;
}
.languajes {
  display: inline;
}
h1 {
  display: inline;
  margin-right: 30px;
}
.header {
  width: 95%;
  margin: 20px auto auto auto;
}
.matTittle{
  max-width: 200px !important;
}